<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>NSCameraUsageDescription</key>
	<string>You can take photos to document your job.</string>
	<key>UIAppFonts</key>
	<array>
		<string>Bahiana-Regular.ttf</string>
	</array>
</dict>
</plist>
